.mid {
  background: #e5e5e1;
  text-align: center;
  flex-direction: column;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mid h2 {
  font-weight: 300;
  padding-top: 60px;
  font-size: 90px;
}
.mid h6 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 50px;
}
.mid a {
  background: #e5e5e1;
}
.mid a:hover {
  background: #e5e5e1;
}
.app {
  margin: 0 auto;
}
.mid img {
  padding-top: 50px;
}
.mid .app-photos {
  display: flex;
  justify-content: space-around;
}
.mid .phone {
  padding: 50px;
}
@media (max-width: 576px) {
  .mid button {
    margin-bottom: 30px;
  }
  .mid h2 {
    font-size: 30px;
  }
  .mid h6 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .mid .app-photos {
    display: block;
    padding-bottom: 30px;
  }
  .mid img,
  .mid .phone {
    padding: 10px;
  }
}
