.Footer {
  background: #1d1d1d;
  color: #e5e5e1;
}
.footer-details {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 30px;
}
.Footer .logo {
  width: 120px;
  text-align: center;
  padding: 0 5px;
}
span {
  opacity: 0.7;
}
.Footer li {
  list-style-type: none;
  font-size: 18px;
  font-weight: 300;
  opacity: 0.1;
}
.Footer ul {
  padding: 50px;
  color: white;
}
.Footer h5 {
  font-weight: 800;
  font-size: 30px;
}
@media (max-width: 576px) {
  .Footer ul {
    padding: 10px;
    margin-left: 20px;
  }
  .Footer .nav-menu {
    padding-top: 30px;
  }
}
