.hero {
  background: url(/src/photos/josh-nuttall-5UQoVk8_d-4-unsplash.jpg) no-repeat
    center center fixed;
  background-size: cover;
  height: 800px;
}
.Landing h1 {
  font-size: 85px;
  font-weight: 600;
  text-align: center;
  color: white;
  padding: 160px 0 0;
}
.Landing form {
  max-width: 30%;
  margin: 35px auto;
}
.Landing label {
  padding-bottom: 10px;
  text-align: center;
  color: white;
  display: block;
  opacity: 0.7;
}
.Landing input {
  margin-bottom: 7px;
}
.Landing .light {
  font-weight: 300;
}
.Landing button {
  margin: auto;
  display: block;
  margin-top: 80px;
  font-size: 22px;
}
@media (max-width: 570px) {
  .Landing h1 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 100px 10px;
  }
  .Landing form {
    max-width: 100%;
    margin: 35px auto;
    padding: 10px;
  }
  .Landing button {
    font-size: 18px;
  }
}
