.hero {
  /* background: #1d1d1d; */
  background: #e5e5e1;
  padding-top: 90px;
}
.hero img {
  padding-left: 15px;
}
.hero h1 {
  font-size: 80px;
  font-weight: 300;
  text-align: end;
  padding-right: 15px;
}
